.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 3rem;

  a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;

    &:hover {
      color: #AF67DC;
    }
  }

  .logo {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    margin: 3rem 0;

    a {
      color: #fff;
    }
  }

  .menu {
    display: none;
  }

  .megamenu {
    cursor: pointer;
  }
}

@media (min-width: 1279px) {
  .header {
    .menu {
      display: flex;
      list-style: none;

      &Item {
        margin-right: 20px;
        cursor: pointer;
      }

      &Icon {
        margin-right: 20px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: #AF67DC;
        }
      }
    }

    .megamenu {
      display: none;
    }
  }
}