.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 3rem;

  a {
    color: #fff;
    text-decoration: none;
  }

  .logo {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    margin: 3rem 0;
  }

  .menu {
    display: inherit;
    list-style: none;

    &Item {
      margin-right: 20px;
      cursor: pointer;
    }

    &Icon {
      margin-right: 20px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}