@import "../../styles/animations.scss";

.bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  z-index: 1;
}

.bgOverlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(41, 41, 41, 0.5);;
  z-index: 2;
}

.blob1,
.blob2 {
  position: fixed;
  top: 60vh;
  filter: blur(100px);
  border-radius: 50%;
  animation: pulsate 8s ease-in-out;
  animation-iteration-count: infinite;
}

.blob1 {
  left: 23vw;
  top: 60%;
}

.blob2 {
  right: 23vw;
}

@media (min-width: 769px) {
  .blob1, .blob2 {
    filter: blur(200px);
    top: 30vh;
  }
}