.bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  z-index: 1;
}

.bgOverlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(41, 41, 41, 0.5);;
  z-index: 2;
}

.blob1,
.blob2 {
  position: fixed;
  top: 30vh;
  filter: blur(200px);
  border-radius: 50%;
  animation: pulsate 8s ease-in-out;
  animation-iteration-count: infinite;
}

.blob1 {
  left: 23vw;
}

.blob2 {
  right: 23vw;
}

@keyframes pulsate {
  0% {
      -webkit-transform: scale(1.0, 1.0); opacity: 1.0;
  }
  50% {
      -webkit-transform: scale(0.85, 0.85); opacity: 0.9;
  }
  100% {
      -webkit-transform: scale(1.0, 1.0); opacity: 1.0;
  }
}