@import "../../styles/animations.scss";

$container-border-size: 4px;
$container-border-color: rgba(#ffffff, 0.1);
$wrapper-border-size: 2px;
$wrapper-border-color: rgba(#ffffff, 0.1);

$min-height: 360px;

.container {
  display: flex;
  align-items: flex-start;
  min-height: $min-height;
  background-color: rgba(#131313, 0.95);
  margin-bottom: 3rem;
  box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(#131313,0.5),
    inset -0.2em -0.2em 0.2em 0 rgba(#af67dc,0.5);
  border-radius: 15px;
  padding: 2rem;
  
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: $min-height;
  }

  &:hover {
    cursor: pointer;
    animation: bounce 2.5s ease-in-out;
  }

  .state {
    background-color: #fff;
    color: #000;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
  }

  .title {
    color: #fff;
    margin: 0;
    font-weight: 900;
  }

  .description {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
  }

  .readmore {
    margin: 4rem 0 0;
  }
}