.container {
  background-color: #000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  

  display: flex;
  flex-direction: column;

  z-index: 1000;
  

  a {
    color: #fff;
    text-decoration: none;
  }

  .menuHeader, .menu {
    width: 80vw;
    margin: 0 auto;
  }

  .menuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;

    h3 {
      margin: 0
    }

    .closeMenu {
      font-size: 1.5rem;
      color: #fff;
      cursor: pointer;
    }
  }

  .menu {
    height: 50%;
    list-style: none;
    padding-inline-start: 0;

    &Item {     
      font-size: 2rem;
      font-weight: 700;

      button {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 2rem 0;
      }
    }

    &Icons {
      display: flex;
      margin: 2rem 0;
    }

    &Icon {
      font-size: 2rem;
      margin-right: 2rem;
    }
  }
}