.footer {
  width: fit-content;
  background-color: rgba(#131313, 0.75);
  margin: 0 auto;
  padding: 5px 20px;
  border-radius: 50px;
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  font-weight: 400;

  p {
    margin: 0;
  }
}