$container-width: 170px;

.container {
  width: $container-width;
  background-color: #131313;
  border-radius: $container-width;
  margin: 0 1rem;
  box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(#131313,0.5),
    inset -0.2em -0.2em 0.2em 0 rgba(#af67dc,0.3);

  animation: bounce 2.5s ease-in-out;
  animation-iteration-count: infinite;
  cursor: pointer;

  &:nth-child(odd) {
    animation-duration: 3s;
  }
}

@keyframes bounce {
  from {
      -webkit-transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, -10px);
  }
  80% {
    -webkit-transform: translate(0, 5px);
  }
  to {
      -webkit-transform: translate(0, 0px);
  }
}