@import "../../styles/colors.scss";

$min-height: 360px;

.container {
  display: flex;
  align-items: flex-start;
  min-height: $min-height;
  max-height: 400px;
  background-color: rgba($ternary, 0.95);
  margin-bottom: 3rem;
  box-shadow: inset 0.2em 0.2em 0.2em 0 rgba($ternary,0.5),
    inset -0.2em -0.2em 0.2em 0 rgba($secondary,0.5);
  border-radius: 15px;
  padding: 2rem;

  &:hover {
    animation: bounce 2.5s ease-in-out;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: $min-height;
    width: 100%;
  }

  .preInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .category {
    background-color: $primary;
    color: $text-post;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      background-color: $secondary;
    }
  }

  .title {
    color: $text-page;
    margin: 0 0 2rem;
    font-weight: 900;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.6rem;
    }
  }

  .description {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    cursor: pointer;
  }

  .author {
    font-size: 14px;
  }
}

@keyframes bounce {
  from {
      -webkit-transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, -10px);
  }
  80% {
    -webkit-transform: translate(0, 5px);
  }
  to {
      -webkit-transform: translate(0, 0px);
  }
}