@import "../styles/colors.scss";

.container {
  padding: 0 1rem;

  .title {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    line-height: 3rem;
    word-wrap: break-word;

    .underline {
      text-decoration: underline;
      text-underline-offset: 1rem;
      a {
        font-family: 'Playfair Display', serif;
        color: $primary;

        &:hover {
          color: $secondary;
        }
      }
    }
  }

  .iconContainer {
    display: flex;
  }
}

@media (min-width: 1279px) {
  .container {
    padding: 0 2rem;

    .title {
      font-size: 60px;
      line-height: 6rem;
    }
  }
}