.container {
  padding: 0 1rem;

  .tagline {
    align-self: flex-end;
    font-family: 'Playfair Display';
    font-weight: 800;
    width: 100%;
  }
  
  .featured {
    display: none;
  }
}



@media (min-width: 1279px) {
  .container {
    padding: 0 2rem;

    .tagline {
      width: 50%
    }
  
    .featured {
      display: flex;
      align-items: center;  
    }
  }
}